---
import Header from "@components/Header.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title?: string;
  description?: string;
  heroImage?: string;
  imageAlt?: string;
}

const defaultMeta = {
  title: "Real Estate",
  description: "Real estate site.",
  image: "/casa.jpg",
  imageAlt: "Real estate site",
};

const { title = defaultMeta.title, description = defaultMeta.description, heroImage = defaultMeta.image, imageAlt = defaultMeta.imageAlt } = Astro.props as Props;
const canonicalURL = new URL(Astro.url).href;

const classBody =
  "scrollbar-thin scrollbar-thumb-zinc-400  bg-[#4c524b] text-white scrollbar-track-zinc-300  dark:text-white font-inter selection:bg-blue-500/70 text-xl";
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={heroImage} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta property="og:site_name" content="Real Estate" />
    <meta property="og:locale" content="en_US" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta name="twitter:site" content="@lancerossdev" />
    <meta name="twitter:creator" content="@lancerossdev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={heroImage} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta name="author" content="Lance Ross" />
    <script is:inline>

    </script>
    <script src="@scripts/main.js"></script>
  </head>
  <body class={classBody}>
    <div class="bg-[#696a3e]">
      <Header />
    </div>
    <main class="m-auto  ">
      <slot />
    </main>
  </body>
</html>
